.cart-container {
    background: linear-gradient(135deg, #1b1b2b, #0f0f1f);
    color: #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 255, 200, 0.1);
    padding: 2rem;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.cart-container h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 255, 200, 0.4);
}

.cart-main {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 2.5;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(135deg, #222233, #1a1a2a);
    border: 1px solid #2e2e3e;
    box-shadow: 0 0 12px rgba(0, 255, 200, 0.1);
    border-left: 5px solid #00bfff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    animation: fadeIn 0.4s ease-in-out;
}

.cart-item img {
    width: 100%;
    max-width: 10rem;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 255, 200, 0.2);
    transition: transform 0.3s ease;
}

.cart-item img:hover {
    transform: scale(1.05);
}

.cart-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cart-buttons .card_buttons-cant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart-buttons button {
    background-color: #0ca4d6;
    color: #000;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.cart-buttons button:hover {
    box-shadow: 2px 2px 12px #00bfff79;
    transform: translateY(-2px);
}

.cart-buttons button:disabled {
    background-color: #555;
    color: #aaa;
    cursor: not-allowed;
}

.cart-buttons .btn-elim{
    background-color: rgb(189, 37, 37);
    color: #fff;
    font-size: .8rem;
}

.cart-buttons .btn-elim:hover{
    box-shadow: none;
}

.cart-item__header h3 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 4px rgba(0, 255, 200, 0.3);
}

.cart-summary {
    padding: 1.5rem;
    background-color: #1a1a42;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 12px #00bfff79;
    flex: 1;
}

.cart-summary h3 {
    text-align: start;
    border-bottom: 2px solid #fff;

}

.cart-summary .cart_summary-item {
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
}

.cart-summary .cart_summary-itemDescuento {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: .8rem;
    gap: .3rem;
}

.cart_summary-itemDescuento div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.cart_summary-itemDescuento input {
    padding: .5rem;
    border: none;
    border-radius: 7px 0 0 7px;
}

.cart_summary-itemDescuento button {
    padding: .5rem;
    border: none;
    border-radius: 0px 7px 7px 0px;
    background-color: #00bfff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.cart_summary-itemDescuento button:active {
    background-color: #055fb4;
    color: #fff;
}

.cart-summary .totalPagar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #fff;
}

.cart-summary .totalPagar p {
    color: #00bfff;
    text-shadow: 0 0 4px rgba(0, 255, 200, 0.5);
    font-weight: bold;
    font-size: 1.5rem;
}


.checkout-btn {
    width: 100%;
    margin-top: 1rem;
    background-color: #00bfff;
    color: #000;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: .9rem;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.checkout-btn:hover {
    box-shadow: 2px 2px 12px #00bfff79;
    transform: translateY(-2px);
}

.clear-btn {
    width: 100%;
    margin-top: .5rem;
    background-color: #ff1e1e;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: .9rem;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.clear-btn:hover {
    background-color: #ff1a1a;
    transform: translateY(-2px);
}

.cart-summary__info {
    font-size: 0.9rem;
    color: #cccccc;
    margin-top: 1rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    .cart-list,
    .cart-summary {
        width: 100%;
    }

    .cart-main {
        flex-direction: column;
    }

    .cart-list {
        flex: 1;
    }

    .cart-item {
        flex-direction: column;
        gap: .2rem;
    }

    .cart-buttons {
        flex-direction: column;
        justify-content: center;
    }
}