.admin-products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-products-title{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.ulList-product{
    width: 80%;
}

.itemList-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #222233, #1a1a2a);
    color: #fff;
    border: 1px solid #2e2e3e;
    box-shadow: 0 0 12px rgba(0, 255, 200, 0.1);
    border-left: 5px solid #00bfff;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    animation: fadeIn 0.4s ease-in-out;
}

.image-product{
    width: 80px;
    border-radius: 10px;
}

.admin-btnDelete{
    padding: .7rem;
    background-color: rgb(153, 28, 28);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
}

.admin-btnDelete:hover{
    background-color: rgb(211, 7, 7);
}