.filter-bar {
    text-align: start;
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

.filters-category-search{
    display: flex;
    gap: 1rem;
}

.filters-category-search .search-bar{
    background-color: #eee;
    color: #000;
    padding: 0.6rem 2rem;
    border: 2px solid #2a2a3d;
    border-radius: 30px;
    font-size: .9rem;
}

.toggle-button {
    background-color: #eee;
    color: #000;
    padding: 0.6rem 2rem;
    border: 2px solid #2a2a3d;
    border-radius: 30px;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.toggle-button:hover {
    background-color: #2a2a3d;
    color: #fff;
}

.filter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: start;
    margin-top: 1rem;
}

.filter-tags button {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: 2px solid #2a2a3d;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-tags button:hover {
    background-color: #2a2a3d;
    color: #fff;
}

.filter-tags button.active {
    background-color: #2a2a3d;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px){
    .filters-category-search{
        gap: .4rem;
        justify-content: space-evenly;
    }
    .filters-category-search .search-bar{
        padding: .6rem 0rem .6rem .4rem;
    }
}