.slider {
    width: 96vw;
    aspect-ratio: 16 / 9;
    max-height: 80vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slider_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider_content .item {
    display: flex;
    width: 96vw;
    height: 100%;
    padding-inline: 4vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------  PRIMER SLIDE  -------*/

.slider_content-item1 {
    /* background-image: url("../Imagenes/aula.jpg"); */
    background-color: red;
}

.slider_content-item1>div {
    flex: 1;
    border-radius: 8px;
}

.slider_content-item1 .item1-cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1vw;
    background-color: rgba(165, 164, 164, 0.685);
    backdrop-filter: blur(7px);
    mask-image: linear-gradient(to left, transparent 0%, black 3%, black 97%, transparent 100%);
}

.slider_content-item1 .item1-cont1>img {
    width: 70%;
    border-radius: 40%;
    margin-bottom: 3%;
    filter: drop-shadow(7px 3px 7px rgb(45, 45, 204));
}

.slider_content-item1 .item1-cont1>h3 {
    color: #002447;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;

    text-shadow: 3px 2px 9px rgba(0, 51, 102, 0.692);
}

.slider_content-item1 .item1-cont2 {
    background-color: rgba(0, 91, 187, 0.85);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    margin: 2% 1% 2% 0;
    position: relative;
    overflow: hidden;
}

.slider_content-item1 .item1-cont2>img {
    position: absolute;
    right: -8%;
    top: 3%;
    width: 30%;
    height: 100%;
}

.item1-cont2 .item_cont2-text {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 6%;
    padding: 5%;
    text-align: center;
}

#Certificacion {
    display: none;
}

.item1-cont2 .item_cont2-text>h3 {
    background-color: #002c5d;
    border-radius: 12px;
    padding: 1vw .8vw;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    font-weight: 800;
}

#titulo2 {
    display: none;
}

.item1-cont2 .item_cont2-text>h4 {
    font-size: 1.4vw;
    font-weight: 600;
    color: #d0e8ff;
    margin-bottom: -1vh;
}

.item1-cont2 .item_cont2-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -.5rem;
}

.item1-cont2 .item_cont2-text ul li {
    font-size: 1.2vw;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.8vw;
    line-height: 1.4;
    text-align: left;
}

.item1-cont2 .item_cont2-text ul li::before {
    content: "✓";
    color: #00ffcc;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.item1-cont2 .item_cont2-text a.btn {
    background-color: #cc000a;
    color: #ffffff;
    font-weight: 700;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    animation: latido-btn 1.5s infinite;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

@keyframes latido-btn {
    0% {
        transform: scale(1);
        /* Tamaño original */
    }

    50% {
        transform: scale(1.09);
        /* Ligeramente más grande para simular el latido */
    }

    100% {
        transform: scale(1);
        /* Vuelve al tamaño original */
    }
}

.item1-cont2 .item_cont2-text a.btn:hover {
    animation: none;
    background-color: #cc000a;
    transform: scale(1.05);
    color: white;
}

/*--------  SEGUNDO SLIDE  -------*/
.slider_content-item2 {
    /* background-image: url("/assets/Imagenes/vector-fondo.jpg"); */
    background-color: green;
    overflow: hidden;
    position: relative;

}

.item2-cont {
    width: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.item2-left,
.item2-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.item2-left {
    flex: 2;
}

.item2-left img {
    width: 110%;
    border-radius: 10px;
}

.item2-right {
    flex-direction: column;
    align-items: center;
    flex: 1.3;
    background-color: #ffffff;
    height: 93%;
    position: relative;
    top: 1rem;

}

.item2-right h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1e2b3c;
    text-align: center;

}

.item2-right h4 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1rem;
}

.item2-right ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
}

.item2-right ul li {
    position: relative;
    padding-left: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.item2-right ul li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #4b2e83;
}

.btn-cert {
    padding: 0.8rem 1.5rem;
    background-color: #cc000a;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-cert:hover {
    background-color: #a00008;
}

/*---- TERCER SLIDE ----*/

.slider_content-item3 {
    /* background: url("/assets/Imagenes/fondoBlue.jpg"); */
    background-color: blue;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.slider_content-item3 .item3-cont {
    display: flex;
    width: 100%;

}

.item3-img {
    flex: 1.2;
    position: relative;
    border-radius: 12px 0px 0px 12px;
    background-color: #ffffff;
    overflow: hidden;
}

.item3-img h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #003366;
}

.item3-img img {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    object-fit: cover;
    filter: brightness(0.95);
}



.item3-text {
    overflow: hidden;
    background-color: #003366;
    color: white;
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 0px 12px 12px 0px;
}

/* Brillo */
.item3-text::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.195), transparent);
    animation: shimmerDiagonal 4s ease-in-out infinite alternate;
    pointer-events: none;
}


.item3-text h3 {
    font-size: 2rem;
    font-weight: 800;
}

.item3-text p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.item3-text ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.item3-text ul li {
    margin-bottom: 1rem;
}

.item3-text ul li::before {
    content: "\2713";
    color: rgb(255, 172, 172);
    margin-right: 0.5rem;
}


@keyframes shimmerDiagonal {
    0% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(50%, 50%);
    }

}






.buttons {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1d1c1cbd;
    color: #FFF;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 0;
    color: #FFF;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1d1c1cbd;
}

.dots li {
    list-style: none;
    width: .8rem;
    height: .8rem;
    background-color: #FFF;

    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.dots li.active {
    width: 30px;
}





.slider_content { display: flex; transition: transform 0.5s ease; }
.item { min-width: 100%; }
