.sectionProducts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding-top: 2rem;
}



.sectionProducts .products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sectionProducts .listproducts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}