.sectionProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #EEE;
}

.banner-ProductList {
  width: 98%;
  height: 95%;
  margin: auto;
  overflow: hidden;
}

.banner-ProductList > img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.list-container{
  background-image: url("/images/fondo-1.jpg");
  width: 95%;
  margin: auto;
  padding-top: 2rem;
  border-radius: 10px;
  border: 2px solid #bbb;
}

.products-container{
  margin-top: 2rem;
}

.sectionProducts .products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sectionProducts .listproducts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}