.count-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.count-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.count-buttons .btn {
    background-color: #0ca4d6;
    color: #000;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.count-buttons .btn:hover {
    box-shadow: 2px 2px 12px #00bfff79;
    transform: translateY(-2px);
}

.count-buttons .btn:disabled {
    background-color: #555;
    color: #aaa;
    cursor: not-allowed;
}

.btn-add {
    background-color: #00bfff;
    color: #000;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: .9rem;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-add:hover {
    box-shadow: 2px 2px 12px #00bfff79;
    transform: translateY(-2px);
}