/* .productos-destacados {
  background: #f5f7fa;
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  
}

.card-destacado {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 2rem;
  text-align: center;
  background-color: #1b1b2b;
}

.img-cardDestacados{
    background-color: #1b1b2b;
}

.img-cardDestacados > img {
  max-width: 100%;
  height: 180px;
  object-fit: contain;
}

.card-destacado h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.card-destacado p {
  color: #00c853; 
  font-weight: bold;
}

.card-destacado button {
  margin-top: 0.5rem;
  background: #1976d2; 
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.card-destacado button:hover {
  background: #2196f3;
} */

.container-page {
    background-image: url("/images/fondo-6.jpg");
    background-size: cover;
    padding-bottom: 4rem;
}




.productos-destacados {
    padding: 1.5rem;
    background-image: url("/images/fondo-1.jpg");
    margin: 1.2rem;
    border-radius: 15px;
    border: 1px solid #777;
}

.productos-destacados>h2 {
    margin-bottom: 1.5rem;
    color: #1b1b2b;
    text-align: start;
    text-shadow: 2px 3px 8px #494975;
    font-size: 1.7rem;
}

.cards-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.card-destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a3d;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card-destacado:hover {
    transform: scale(1.05);
}

.img-cardDestacados {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    flex: 1;
}

.img-cardDestacados>img {
    width: 100%;
    object-fit: contain;
    height: 180px;
    border-radius: 12px;

}

.content-cardDestacados {
    flex: 1;
    padding: 1.5rem;
    width: 100%;
    background-color: #1b1b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
}

.card-destacado h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: #fff;
}

.card-destacado p {
    color: #fff;
    font-weight: bold;
}

.card-destacado button {
    margin-top: 0.5rem;
    background-color: #00bfff;
    ;
    color: #000;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.card-destacado button:hover {
    background: #2196f3;
}

.btn-todosProduct-Home {
    margin-top: 2rem;
    padding: .9rem;
    background-color: #1b1b2b;
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.btn-todosProduct-Home:hover {
    background-color: #2a2a3d;
    color: #fff;
    transition: .5s;
}


/*   SECCION CATEGORIAS    */

.categorias-destacadas {
    padding: 2rem;
    /* background-color: #232336; */
}

.categorias-destacadas>h2 {
    margin-bottom: 1rem;
    text-align: start;
}

.categoria-cards {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.categoria-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #2a2a3d; */
    border-radius: 12px;
    text-align: center;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
    transition: transform 0.2s ease;
}

.categoria-card:hover {
    transform: translateY(-4px);
}

.img-category-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #000;
}

.img-category-card img {
    width: 100%;
}

.categoria-card h3 {
    color: #000;
    margin-bottom: 0.5rem;
}

.categoria-card button {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.categoria-card button:hover {
    background-color: #2196f3;
}


/*     Banner promociones       */

.banner-promos {
    background-color: #222;
    margin: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 10px;

}

.banner-card-promo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.section1-promo {
    background-color: #1b1b2b;
    flex: 1.3;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    outline: 2px solid #FFF;
}

.section1-promo>div {
    background-color: #00bfff;
    color: #000;
    padding: .5rem;
    border-radius: 15px;
}

.section1-promo>div>h3>span {
    font-size: 2rem;
}

.section1-promo>h4 {
    text-align: start;
    padding: .2rem 0 1.3rem 0;
    font-size: 1.1rem;
    color: #fff;
}

.section1-promo>h4>span {
    font-size: 1.3rem;
    color: #00bfff;
    font-weight: bolder;
}

.section2-promo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.section2-promo>h3 {
    color: #FFF;
    text-transform: uppercase;
}

.section2-promo>div {
    max-width: 200px;

}

.section2-promo>div>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 16px 40px rgba(163, 163, 163, 0.6);
}

/*   SUCURSALES     */

.nuestras-sucursales {
    margin: 1.8rem 1rem 0rem 1rem;
    padding: 2rem 2rem;
    background-image: url("/images/fondo-1.jpg");
    border-radius: 12px;
    border: 1px solid #888;

}

.nuestras-sucursales h2 {
    text-align: start;
    margin-bottom: 1.8rem;
    color: #1b1b2b;
}

.sucursales-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1.5rem;
    align-items: center;
}

.container-lista {
    display: flex;
    gap: 1rem;
    flex: 1;
}



.sucursales-mapa {
    flex: 1;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    margin-left: 1.5rem;
}

.sucursales-mapa iframe {
    width: 100%;
    height: 100%;
    /* toma la altura del contenedor */
    display: block;
}






.sucursal-lista p {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.sucursal-lista {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1b1b2b;
    padding: 1rem;
    border-radius: 10px;
    color: #FFF;
}



/* .nuestras-sucursales>p {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}



.sucursales-container {
    display: flex;
    gap: 2rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.sucursal-lista {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1b1b2b;
    padding: 1rem;
    border-radius: 10px;
    color: #FFF;
}

.sucursal-lista>h4 {
    font-size: 1.1rem;
}


.sucursal>h4 {
    margin: 0;
    font-size: 1.1rem;
}

.sucursal p {
    margin: 0.3rem 0 0;
    font-size: 1rem;
    color: #BBB;
}

.sucursales-mapa {
    flex: 2;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    margin-left: 1.5rem;
} */


@media (max-width: 900px) {

    .banner-promos {
        gap: 1.2rem;
    }

    .banner-card-promo {
        gap: 0rem;
        align-items: end;
    }


    .section1-promo {
        flex: 1.7;
        gap: 1rem;
    }

    .section1-promo>div>h3>span {
        font-size: 1.5rem;
    }

    .sucursales-container {
        flex-direction: column;
        align-items: stretch;
    }

    .container-lista {
        flex-direction: column;
        width: 100%;
    }

    .sucursales-mapa {
        width: 100%;
        margin-left: 0;
        flex: none;
        height: 300px;
        min-height: 200px;
    }
}