.container-page {
    background-color: #EEE;
    padding-bottom: 4rem;
    padding-top: 1rem;
}

.slider_content-item1 img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.productos-destacados {
    padding: 1.5rem;
    background-image: url("/images/fondo-1.jpg");
    margin: 2rem 1.2rem 0 1.2rem;
    border-radius: 15px;
    border: 1px solid #777;
}

.productos-destacados>h2 {
    margin-bottom: 1.5rem;
    color: #1b1b2b;
    text-align: start;
    /* text-shadow: 2px 3px 8px #494975; */
    font-size: 1.7rem;
}

.cards-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.card-destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a3d;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card-destacado:hover {
    transform: scale(1.05);
}

.img-cardDestacados {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    flex: 1;
}

.img-cardDestacados>img {
    width: 100%;
    object-fit: contain;
    height: 180px;
    border-radius: 12px;

}

.content-cardDestacados {
    flex: 1;
    padding: 1.5rem;
    width: 100%;
    background-color: #1b1b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
}

.card-destacado h3 {
    font-size: 1.07rem;
    color: #fff;
}

.card-destacado p {
    color: #fff;
    font-weight: bold;
}

.price-container {
    width: 100%;
}

.price-sinDesc {
    justify-content: center;
}

.porcent-off {
    color: #FFF;
    padding: .3rem;
}

.section-precio .section-salePrice {
    margin-top: 0;
    margin-bottom: .3rem;

}

.sale-price {
    color: #FFF;
    font-weight: bold;
    font-size: 1.1rem;
}


.card-destacado button {
    margin-top: 0.5rem;
    background-color: #00bfff;
    ;
    color: #000;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.card-destacado button:hover {
    background: #2196f3;
}

.btn-todosProduct-Home {
    margin-top: 2rem;
    padding: .9rem;
    background-color: #1b1b2b;
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.btn-todosProduct-Home:hover {
    background-color: #2a2a3d;
    color: #fff;
    transition: .5s;
}


/* SECCION CATEGORIAS     */

.categorias-destacadas {
    padding: 2rem;

}

.categorias-destacadas>h2 {
    margin-bottom: 1rem;
    text-align: start;
}

.categoria-cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.categoria-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s ease;
    gap: .8rem;
}

.categoria-card:hover {
    transform: translateY(-4px);
}

.img-category-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #000;
}

.img-category-card img {
    width: 100%;
}

.categoria-card h3 {
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.categoria-card button {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.categoria-card button:hover {
    background-color: #2196f3;
}


/*     Banner promociones       */

.banner-promos {
    background-color: #222;
    margin: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 10px;

}

.banner-card-promo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.section1-promo {
    background-color: #1b1b2b;
    flex: 1.3;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    outline: 2px solid #00bfff;
}

.section1-promo>div {
    background-color: #00bfff;
    color: #000;
    padding: .5rem;
    border-radius: 15px;
}

.section1-promo>div>h3>span {
    font-size: 2rem;
}

.section1-promo>h4 {
    text-align: start;
    padding: .2rem 0 1.3rem 0;
    font-size: 1.1rem;
    color: #fff;
}

.section1-promo>h4>span {
    font-size: 1.3rem;
    color: #00bfff;
    font-weight: bolder;
}

.section2-promo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.section2-promo>h3 {
    color: #FFF;
    text-transform: uppercase;
}

.section2-promo>div {
    max-width: 200px;

}

.section2-promo>div>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 16px 40px rgba(163, 163, 163, 0.6);
}

/*   SUCURSALES     */

.nuestras-sucursales {
    margin: 1.8rem 1rem 0rem 1rem;
    padding: 2rem 2rem;
    background-image: url("/images/fondo-1.jpg");
    border-radius: 12px;
    border: 1px solid #888;

}

.nuestras-sucursales h2 {
    text-align: start;
    margin-bottom: 1.8rem;
    color: #1b1b2b;
}

.sucursales-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1.5rem;
    align-items: center;
}

.container-lista {
    display: flex;
    gap: 1rem;
    flex: 1;
}



.sucursales-mapa {
    flex: 1;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    margin-left: 1.5rem;
}

.sucursales-mapa iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.sucursal-lista p {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.sucursal-lista {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1b1b2b;
    padding: 1rem;
    border-radius: 10px;
    color: #FFF;
}

.section-newsletter {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1.3rem;
    padding: 1.5rem;
    background-image: url("./images/fondo-newsletter4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: 2px solid #1b1b2b;
    margin-bottom: 1rem;
}

.section-newsletter>h2 {
    margin-bottom: .7rem;
}

.section-newsletter>p {
    margin-bottom: 1rem;
    width: 65%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.section-newsletter .input-newsletter {
    width: 100%;
    max-width: 500px;
    background-color: #EEE;
    margin: auto;
    padding: .2rem;
    border-radius: 30px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.733);
}

.section-newsletter .input-newsletter>form {
    display: flex;
    gap: .5rem;
}

.input-newsletter .input-email {
    flex: 1;
    padding: .5rem;
    border: none;
    background-color: #EEE;
    font-size: 1rem;
    border-radius: 30px;
}

.input-newsletter .input-email:focus {
    outline: none;
}

.input-newsletter .btn-newsletter {
    flex-shrink: 0;
    padding: .7rem 1rem;
    border-radius: 30px;
    background-color: #1b1b2b;
    color: #fff;
    border: none;
    font-size: .9rem;
    cursor: pointer;
}



@media (max-width: 900px) {

    .banner-promos {
        gap: 1.2rem;
    }

    .banner-card-promo {
        gap: 0rem;
        align-items: end;
        padding: .3rem 1rem 1rem 1rem;
        border-radius: 10px;
    }


    .section1-promo {
        flex: 1.7;
        gap: .3rem;
        outline: solid 1px #00bfff;
    }

    .section1-promo>div>h3>span {
        font-size: 1.5rem;
    }

    .sucursales-container {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0;
        padding-right: 0;
    }

    .container-lista {
        flex-direction: column;
        width: 100%;
    }

    .sucursales-mapa {
        width: 100%;
        margin-left: 0;
        flex: none;
        height: 300px;
        min-height: 200px;
    }

    .input-newsletter .input-email {
        font-size: .9rem;
    }

    .section-newsletter>p {
        width: 100%;
        margin-bottom: 1.5rem;
    }




}