footer {
    position: relative;
    /* margin-top: 4rem; */
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1rem;
    background-color: #1b1b2b;
    color: #FFF;
}

footer .footer-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px solid #fff;
}

.footer_card {
    flex: 1 1 20rem;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border-radius: 12px;
}

/*       FOOTER SECTION 1           */

.footer-secciones .footer_section1 {
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.footer_section1 .section1-logo {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.footer_section1 .section1-logo>img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
}

.footer_section1 h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.datos_footer-section1 div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #FFF;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
}

/*    FOOTER SECTION 2    */

.footer-secciones .footer_section2 {
    justify-content: center;
    align-items: center;
}

.footer-secciones .footer_section2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-secciones .footer_section2 h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer-secciones .footer_section2 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_section2 .item-section2 {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.footer_section2 ul li a:hover {
    color: var(--text-light);
    text-decoration: underline;
}

/*     FOOTER SECTION 3     */

.footer_section3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
    padding-bottom: 2rem;
}

.footer_section3 h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: #fff;
}

.footer_section3 p {
    font-size: 1.05rem;
    color: #ddd;
}


.footer-info {
    color: #bbb;
    font-size: 0.95rem;
    text-align: start;
}

footer .derechos {
    font-size: 1.05rem;
    color: #ddd;
    text-align: start;
    padding-top: 1rem;
}


footer .iconos_redes .footer-icono>img {
    width: 11vw;
    height: 11vw;
    max-width: 3.5rem;
    max-height: 3.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #FFF;
    object-fit: cover;
    transition: 0.3s;
}

footer .iconos_redes {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
    z-index: 10;
}

.footer-icono>img:hover {
    scale: 1.3;
    transition: scale .5s;
    animation: girar__icono .5s linear;
}

@keyframes girar__icono {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    footer .footer-secciones {
        gap: 1rem;
        width: 90%;
        margin: auto;
    }

    .footer-secciones .footer_section1 {
        padding-top: 4rem;
        align-items: start;
    }

    .footer-secciones .footer_section2 {
        justify-content: start;
        align-items: center;
    }

    .footer_section3 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1.2rem;
        padding-bottom: 2rem;
    }

    footer .derechos {
        font-size: .9rem;
        color: #ddd;
        text-align: start;
        padding-top: 1rem;
        width: 90%;
        margin: auto;
    }

    footer .iconos_redes {
        position: absolute;
        top: -1.4rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1rem;
        z-index: 10;
    }

    footer .iconos_redes .footer-icono>img {
        width: 10vw;
        height: 10vw;
        max-width: 3.5rem;
        max-height: 3.5rem;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: 50%;
        border: 2px solid #FFF;
        object-fit: cover;
        transition: 0.3s;
    }
}