
.productFormContainer{
  width: 100%;
  height: 100%;
  background-color: #1e1e2f;
  padding-top: 2rem;
}

.product-form {
  max-width: 600px;
  margin: auto;
  background: #eee; 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  color: #333;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #00bfff;
  background-color: #1e1e2f;
  border-radius: 10px; 
  padding: .5rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-control {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #bbb;
  border-radius: 30px;
  background: #fff;
  color: #000;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group .description{
  margin-bottom: 1.2rem;
}

.form-control:focus {
  border-color: #00bfff; /* acento sobrio */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
  outline: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.file-input {
  padding: .8rem 1rem;
}

.error {
  color: #c0392b; /* rojo elegante y no chillón */
  font-size: 0.9rem;
  margin-top: 0.3rem;
  font-weight: 550;
}

.form-actions{
  display: flex;
  gap: 1.5rem;
}

.btn-primary {
  background: #2a2a3d; /* gris azulado elegante */
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .5s;
  flex: 1;
}

.btn-primary:hover {
  background: #14141f; /* tono más oscuro al hover */
  transition: .5s;
}

.btn-secondary{
  flex: 1;
  background: rgb(13, 111, 209); /* gris azulado elegante */
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .5s;
}

.btn-secondary:hover{
  background-color: rgb(8, 64, 121);
  transition: .5s;
}


@media (max-width: 550px) {
  .product-form{
    max-width: 24rem;
  }
}