.form-container {
    width: 100%;
    height: 98.7vh;
    background-color: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .form-container-section {
    max-width: 400px;
    width: 100%;
    background: #eee;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: "Segoe UI", Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.form-admin {
    width: 100%;
}

.form-input {
    width: 100%;
    padding: .8rem;
    border: 1px solid #bbb;
    border-radius: 30px;
    background: #fff;
    color: #000;
    font-size: .9rem;
    margin-bottom: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: #00bfff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    outline: none;
}

.img-form {
    width: 150px;
    border-radius: 50%;
}

.btn-login-admin {
    flex: 1;
    background: rgb(13, 111, 209);
    color: #fff;
    font-weight: 550;
    padding: 0.8rem;
    border: none;
    border-radius: 30px;
    font-size: .9rem;
    cursor: pointer;
    transition: .5s;

}

.btn-login-admin:hover {
    background-color: rgb(8, 64, 121);
    transition: .5s;
}