.dashboard-title{
    color: #fff;
    margin: 1.5rem 0 1.5rem 0;
}

.option-dashboard{
    padding: .8rem;
    border: 1px solid #bbb;
    border-radius: 30px;
    background: #fff;
    color: #000;
    font-size: .9rem;
    margin-bottom: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.option-dashboard:focus{
    border-color: #00bfff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    outline: none;
}

@media (max-width: 550px){
    .dashboard-title{
        margin-top: 5rem;
    }
}

