.contact-faq {
    color: #111;
    padding: 1.5rem;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contact-faq h3 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #00bfff;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background-color: #1e1e2f;
    color: #FFF;
    border-radius: 10px;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    color: #111;
    background-color: #CCC;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    border-radius: 8px;
    transition: background .3s ease;
}

.faq-question:hover {
    background-color: #AAA;
}

.faq-answer {
    margin-top: .5rem;
    padding: .8rem;
    background-color: #DDD;
    border-radius: 8px;
    text-align: start;
}

@media (max-width: 768px) {
    .contact-faq {
        color: #111;
        padding: 1.5rem;
        border-radius: 10px;
        width: 100%;
        margin: auto;
        margin-bottom: 4rem;
        margin-top: 1.3rem;
    }
}